<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>检索引擎</title>
    <style id="static-stylesheet" type="text/css"></style>
    <link href="../static/test.css" media="all" rel="stylesheet"
          type="text/css"> <!-- Cache! -->
</head>


<body class="content-fullwidth">

<div id="page">
    <!-- logo and navigation-->
    <header id="header" role="banner">
        <div class="wf-wrap">
            <div class="wf-table">
                <!-- iMed logo -->
                <div class="wf-td bit-logo-bar" id="branding" style="">
                    <a class="bitem logo small" href="http://www.imed-lab.com/" style="display: table-cell;">
                        <span class="logospan">
                            <img alt="iMED医疗影像/眼科影像团队"
                                 class="preload-me"
                                 height="156" src="../static/iMed.png"
                                 width="512">
                        </span>
                    </a>
                </div>

                <!-- !- Navigation -->
                <nav class="wf-td" id="navigation">
                    <ul class="mainmenu" id="main-nav">
                        <!-- list item 1 -->
                        <li class="menu-item">
                            <a href="http://www.imed-lab.com/">
                                <span style="color:deepskyblue;font-family:微软雅黑">
                                    首页<i class="underline"></i>
                                </span>
                            </a>
                        </li>
                        <!-- list item 2 -->
                        <li class="menu-item">
                            <a href="./Search.html">
                                <span style="color:deepskyblue;font-family:微软雅黑" >
                                    检索引擎<i class="underline"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </header>


    <div class="bit_main_content" id="main">
        <div class="wf-wrap">
            <!-- title -->
            <section class="qfy-row-1-5e7095926d9d5420220 section">
                <!-- background picture -->
                <div backgroundsize="true" class="background-media   " data-imagebgs=""
                     data-time="3"
                     style="background-image: url(https://cdn.goodq.top/caches/8f9363c9ebbef5d06bb5b9faed32db3f/aHR0cDovL3d3dy5pbWVkLWxhYi5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDE4LzAyLzdmMjJlMWM2OGNhNGQyYTAzNzZhZWM0ZTM5OGM4M2Y2LmpwZWc_p_p100_p_3D.png); background-repeat:no-repeat; background-size:cover; background-attachment:scroll; background-position:0 0%;">
                    <div class="layout-bg qfy_bg_canvas_3"
                         data-bgcolor="rgba(38,212,239,0.6)" style="pointer-events: none;">
                        <div class="layout-bg-square"
                             style="background:rgba(255,255,255,0.6);animation-duration: 80s; "></div>
                    </div>
                </div>
                <!-- mixed background color -->
                <div class="section-background-overlay background-overlay"
                     style="background-color: rgba(38,212,239,0.7);"></div>
                <!-- title -->
                <div class="container">
                    <div class="row qfe_row">
                        <div class="qfy-column-1-5e7095926dd01176728">
                            <div class="qfy-element" css_animation_delay="0" data-ani_iteration_count="1" data-anitime="0.7" id="vc_header_5e7095926ddf1497" m-padding="18px 0 17px 0" p-padding="0 0 0 0" qfyuuid="qfy_header_nxfs7-c-s2" style="position: relative; background-repeat: no-repeat; margin-top: 0px; margin-bottom: 0px; padding: 18px 0px 17px;">
                                <div class="qfe_wrapper">

                                    <h2 class="qfy_title left mobileleft">
                                        <div class="qfy_title_image_warpper"
                                             style="display:inline-block;position:relative;max-width:100%;">
                                            <div class="qfy_title_inner"
                                                 style="display:inline-block;position:relative;max-width:100%;">
                                                <!-- -->
                                                <span class="line-abs top hleft"
                                                      style="overflow:hidden;
                                                      border-bottom-style:solid;width:64px;max-width:64px;border-bottom-width:6px;border-bottom-color:#ffffff;margin-left:0px;margin-bottom:20px;"></span>
                                                <!-- title content -->
                                                <div class="header_title"
                                                     style="font-family:微软雅黑;font-size:34px;font-weight:bold;font-style:normal;color:#ffffff;display:block;vertical-align:bottom;">
                                                    检索引擎
                                                </div>
                                            </div>
                                        </div>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--加在这-->

        </div>
    </div>



</div>
</body>
</html>
